button {
  border-radius: 15px;
}

.rewrite {
  color: red;
  position: absolute;
  top: 30%;
  right: 40%;
}

.contentCss {
  width: 85%;
  background-color: white;
  padding: 30px;
  border: solid black;
  border-radius: 15px;
  margin: 0 auto;
}

.mat-mdc-form-field {
  width: 250px;
  margin-left: 41px;
  margin-top: 5px;
}

span {
  font-size: large;
}

.questionType {
  margin-left: 50px;
}

.addSubmitCss {
  input {
    border-radius: 15px;
  }

  position: absolute;
  right: 15%;
}

.spaceCss {
  height: 8px;
}

.needCss{
  margin-left: 30px;
  display: flex;
  align-items: center;
}

.nextCss {
  input {
    border-radius: 15px;
  }
}


::ng-deep .mat-mdc-text-field-wrapper {
  background-color: white !important;
  border: 1px solid;
}

td.mat-mdc-cell.mdc-data-table__cell.cdk-cell.cdk-column-select.mat-column-select {
  width: 5px;
}

.optionCss {
  height: 25vh;
  background: rgb(243, 243, 250);
  border: 1px solid black;
  padding: 5px;
  margin-bottom: 10px;
  animation-name: grow;
  animation-duration: 0.5s;

  @keyframes grow {
    from {
      height: 0vh;
      background: rgb(67, 66, 66);
    }

    to {
      height: 25vh;
      background: rgb(243, 243, 250);
    }
  }

  .optionsBox {
    margin-left: 7%;
    width: 90%;
    height: 90%;
    input{
      width: 85%;
      margin-left: 5px;
    }
  }

}

.closeOptionCss {
  background: rgb(67, 66, 66);
  margin-bottom: 3px;
  animation-name: close;
  animation-duration: 0.4s;

  @keyframes close {
    from {
      height: 25vh;
      background: rgb(243, 243, 250);
    }

    to {
      height: 0vh;
      background: linear-gradient(rgb(243, 243, 250),rgb(67, 66, 66));
    }
  }

}
