<div class="mode d-flex justify-content-end">
  <button type="button" (click)="normal()" [ngClass]="{'mode_on': !is_admin}">使用者模式</button>
  <button type="button" (click)="to_admin()" [ngClass]="{'mode_on': is_admin}" style="margin-left: 15px;">管理者模式</button>
</div>
<div class=" d-flex justify-content-center search_box">
  <div>
    <!-- 名稱搜尋 -->
    <div class="search_name d-flex align-items-center">
      <label>問卷名稱 :</label> <input type="text" class="list_name" [(ngModel)]="seachName">
      <mat-icon aria-hidden="false" fontIcon="close" style="cursor: pointer;" class="close_search_name" (click)="seachName = ''"></mat-icon>
    </div>
    <br>
    <!-- 日期搜尋 -->
    <div class="search_date d-flex align-items-center ">
      <span class="search_status">
        @if(is_date_seach) {
        <button (click)="change_date_seach()">日期搜尋</button>
        }@else {
        <button (click)="change_date_seach()">狀態搜尋</button>
        }
      </span>
      @if(is_date_seach) {
      <span style="margin-left: 150px;">日期 :</span>
      <input class="data_s" type="date" id="start" [(ngModel)]="startDate" />
      <span>至</span>
      <input class="data_e" type="date" id="end" value="endDate" [min]="startDate" [(ngModel)]="endDate" />
      }@else {
      <div class="statuCss d-grid gap-5 d-flex justify-content-evenly">
        <button type="button" class="btn btn-outline-primary {{seach_status_active_list[0]}}"
          (click)="seach_status_is(0, '尚未開始')">尚未開始</button>
        <button type="button" class="btn btn-outline-danger {{seach_status_active_list[1]}}"
          (click)="seach_status_is(1, '進行中')">進行中</button>
        <button type="button" class="btn btn-outline-success {{seach_status_active_list[2]}}"
          (click)="seach_status_is(2, '已結束')">已結束</button>
        @if(is_admin){
        <button type="button" class="btn btn-outline-dark {{seach_status_active_list[3]}}"
          (click)="seach_status_is(3, '尚未公布')" style="margin-left: -13px;">尚未公布</button>
        }
      </div>
      }
      <button type="submit" class="search_button" (click)="seachNameButton()"
        style="height: 36px; margin-left: 35px;">搜尋</button>
    </div>
    <!-- 增加只顯示進行中、已結束和尚未開始的分類 -->
    <!--尚未開始增加提醒功能(如果能的話Email提醒之類的) -->
  </div>
</div>
<br>

<!---------------------------------------------------------------------------------------------------------- -->
<!-- matrial Table -->
<div class="list2  table-responsive">
  <!-- 問卷增加、刪除 在 table 內增加 cheak box 讓被選的問卷能在按下垃圾桶 icon 時被刪除 -->
  <div class="mid">
    @if(is_admin) {
    <div class="icon">
      <div class="delet_icon">
        <mat-icon aria-hidden="false" fontIcon="delete" (click)="deleteSelectedRows()"></mat-icon>
      </div>
      <div class="add_icon">
        <a routerLink="/control_tab/add_list1" (click)="addQues()"><mat-icon aria-hidden="false"
            fontIcon="add"></mat-icon></a>
      </div>
    </div>
    }@else {
    <div class="hide_dog_css">
      <div class="runing_dog_css d-flex justify-content-center">
        <img class="" src="./runing_dog.gif" alt="">
      </div>
    </div>
    }
  </div>
  <!-- 預設排序方式 : 日期由近到遠 -->
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z1 table table-striped table-hover table-bordered">

    <!-- Checkbox Column -->
    @if (is_admin) {
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>刪除</th>
        <td mat-cell *matCellDef="let row">
          @if(row.status == "進行中" || row.status == "已結束") {
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)" disabled="true">
            </mat-checkbox>
          }@else {
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)">
            </mat-checkbox>
          }
        </td>
      </ng-container>
    }

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>問卷名稱</th>
      <td mat-cell *matCellDef="let element">
        @if (is_admin) {
          @if(element.status == "進行中" || element.status == "已結束"){
            <a routerLink="/control_tab/feedback" routerLinkActive="active"
              (click)="record_quiz_information(element)" title="查看回饋統計">{{element.name}}</a>
          }@else {
            <a routerLink="/control_tab/add_list1" routerLinkActive="active"
              (click)="record_quiz_information(element)" title="問卷更新">{{element.name}}</a>
          }
        }@else{
          @if (element.status == "進行中") {<a routerLink="/new_anwser_page" routerLinkActive="active"
                [title]="element.description" (click)="record_quiz_information(element)"> {{element.name}} </a> }
          @else { {{element.name}} }
        }
      </td>
    </ng-container>

    <!-- status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>狀態</th>
      <td mat-cell *matCellDef="let element">{{element.status}}</td>
    </ng-container>

    <!-- start_date Column -->
    <ng-container matColumnDef="start_date">
      <th mat-header-cell *matHeaderCellDef>開始時間</th>
      <td mat-cell *matCellDef="let element"> {{element.start_date}} </td>
    </ng-container>

    <!-- end_date Column -->
    <ng-container matColumnDef="end_date">
      <th mat-header-cell *matHeaderCellDef>結束時間</th>
      <td mat-cell *matCellDef="let element"> {{element.end_date}} </td>
    </ng-container>

    <!-- 統計 Column -->
    <ng-container matColumnDef="statistics" class="tableCss">
      <th mat-header-cell *matHeaderCellDef>結果統計</th>
      <td mat-cell *matCellDef="let element">
        @if ( element.status == '進行中' || element.status == '已結束')
        { <a routerLink="/statistics" (click)="record_quiz_information(element)">
          <mat-icon aria-hidden="false" fontIcon="chevron_right" style="cursor: pointer;"></mat-icon>
        </a> }
        @else { 敬請期待 } </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <!-- ------------------------------------------換頁系統------------------------------------------------- -->
  <mat-paginator [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons aria-label="Select page of periodic elements"
    class="changePage">
  </mat-paginator>
