.content{
  width: 60%;
  background-color: white;
  margin: 0 auto;
  border: solid;
  border-radius: 20px;
  padding: 20px;
  font-size: 24px;
}

.quiz_date{
  display: flex;
  justify-self: end;
  font-size: 20px;
}

button{
  border-radius: 15px;
}
