<!-- 查看其中一個使用者的回答所有 -->
<br>
<div class="contentCss">
  <div class="">
    <h5 style="text-align: end;"> 問卷時間: {{feedback.start_date}} ~ {{feedback.end_date}} </h5>
    <h2 style="text-align: center;"> {{feedback.name}} </h2>
    <div style="margin: 5% 0px;">
      <span> {{feedback.description}} </span>
    </div>
  </div>
  <div class="">
    <div>
      <label>名稱 : {{feedback.user_name}} </label>
    </div><br>
    <div>
      <label>手機 : {{feedback.phone}}</label>
    </div><br>
    <div>
      <label>信箱 :{{feedback.email}} </label>
    </div><br>
    <div>
      <label>年齡 : {{feedback.age}}</label>
    </div><br>
  </div>
  <hr>
  <div class="">
    @for (fb of feedback.answer; track $index) {
      <p> {{fb.ques_id}}.  {{fb.ques_name}} </p>
      @for (answer of fb.answer; track $index) {
        <p style="margin-left: 3%;">{{answer}}</p>
      }
    }
  </div>
  <br>
  <div class="d-flex justify-content-end">
    <button type="button" (click)="backPage()" class="buttonCss">返回</button>
  </div>
</div>
