.contentCss {
  width: 65%;
  background-color: white;
  position: relative;
  border: solid;
  border-radius: 30px;
  margin: 0 auto;

  button {
    border-radius: 50px;
    width: 150px;
    height: 50px;
    font-size: 25px;
    background-color: white;
    border: 1px solid gray;
    transition: 0.2s;
    margin-top: 10px;

    &:hover {
      width: 175px;
      height: 55px;
      border: 1.5px solid gray;
      font-weight: 600;
    }
  }

  .not_found {
    height: 25%;
    display: flex;
    justify-self: center;
    font-size: 50px;
  }
}
