<!-- 單選 、 複選題的統計圖(圓餅圖 or 長方圖)跟統計表(選項被選擇的次數、百分比) -->
<br><br>
<!-- 把問卷基本資訊放上來 -->
<div class="contentCss">
  <button mat-stroked-button style="color: #000;margin-left: 15px" (click)="goBack()">返回上一頁</button>
  @if(has_statistics_data){
    <br>
    <span style="position: absolute; right: 3%; font-size: 20px;"> {{questData.start_date}} -  {{questData.end_date}}</span>
    <h1 style="text-align: center;margin-bottom: 15px;" [title]="questData.description">{{questData.name}}</h1>
    @for (quest of questData.quest; track $index) {
    <app-chart class="chartCss" [dataId]="quest.id" [questData]="quest"></app-chart><br><hr>
    }
  }@else {
    <P class="not_found">暫無資料</P>
  }
</div>


